<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es" xml:lang="es">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo_html}"></title>
</head>
<body>

<section>
    <div class="container" style="padding-top: 100px">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4" th:text="${tituloFormulario}"></h2>
                    <form th:action="${action}" method="GET" enctype="multipart/form-data">
                        <div name="alta" th:if="${alta != null}">
                            <label>Nombre</label>
                            <input type="text" class="form-control" name="nombre" th:text="${nombre}"/>

                            <label>Apellido</label>
                            <input type="text" class="form-control" name="apellido" th:text="${apellido}"/>

                            <label>DNI</label>
                            <input type="text" class="form-control" name="dni" th:text="${dni}"/>

                            <label>Telefono</label>
                            <input type="text" class="form-control" name="telefono" th:text="${telefono}"/>
                            <br/>
                        </div>

                        <div name="modificar" th:if="${update != null}">

                            <label>ID Cliente</label>
                            <input type="text" class="form-control" name="id" th:value="${objetoIterador.id}"/>

                            <label>Nombre</label>
                            <input type="text" class="form-control" name="nombre" th:value="${objetoIterador.nombre}"/>

                            <label>Apellido</label>
                            <input type="text" class="form-control" name="apellido" th:value="${objetoIterador.apellido}"/>

                            <label>DNI</label>
                            <input type="text" class="form-control" name="dni" th:value="${objetoIterador.dni}"/>

                            <label>Telefono</label>
                            <input type="text" class="form-control" name="telefono" th:value="${objetoIterador.telefono}"/>

                            <label>Estado</label>
                            <input type="text" class="form-control" name="alta" th:value="${objetoIterador.alta}"/>
                            <br/>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="${boton}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>