<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es" xml:lang="es">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exito</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <!--           foto <img class="img-fluid rounded-circle" src="img/m2.jpg" alt="">-->
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4" th:text="${titulo}"></h2>
                    <p th:text="${descripcion}"></p>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>