<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es" xml:lang="es">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>formulario alta libro</title>
</head>
<body>

<section>
    <div class="container" style="padding-top: 100px">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="" alt=""/>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Registrate</h2>
                    <form action="/libro/alta_libro" method="GET" enctype="multipart/form-data">

                        <label>Título</label>
                        <input type="text" class="form-control" name="titulo" th:value="${titulo}"/>

                        <label>Año de Publicación</label>
                        <input type="text" class="form-control" name="anio" th:value="${anio}"/>

                        <label>Ejemplares</label>
                        <input type="text" class="form-control" name="ejemplares" th:value="${ejemplares}"/>

                        <br/><button type="submit" class="btn btn-primary">Registrar Libro</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>