<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es" xml:lang="es">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${formulario}"></title>
</head>
<body>

<section>
    <div class="container" style="padding-top: 100px">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4" th:text="${tituloFormulario}"></h2>
                    <form th:action="${action}" method="GET" enctype="multipart/form-data">
<!--                        <div name="alta" th:if="${alta != null}">-->
                        <input type="hidden" name="id_libro" th:value="${id_libro}">
                        <input type="hidden" name="prestamo" th:value="${prestamo}">
                        <input type="hidden" name="devolucion" th:value="${devolucion}">
                            <label>Busqueda de cliente a prestar el libro</label>
                            <input type="text" class="form-control" name="query" th:value="${q}"/>

<!--                        </div>-->

<!--                        <div name="modificar" th:if="${update != null}">-->

<!--                            <input type="hidden" name="id" th:value="${libro.id}">-->
<!--                            <label>Título</label>-->
<!--                            <input type="text" class="form-control" name="titulo" th:value="${libro.titulo}"/>-->

<!--                            <label>ISBN</label>-->
<!--                            <input type="text" class="form-control" name="isbn" th:value="${libro.isbn}"/>-->


<!--                            <label>Año de Publicación</label>-->
<!--                            <input type="date" class="form-control" name="anio" th:value="${libro.anio}"/>-->

<!--                            <label>Ejemplares</label>-->
<!--                            <input type="number" class="form-control" name="ejemplares" th:value="${libro.ejemplares}"/>-->

<!--                            <select name="editorial" id="editorial">-->
<!--                                <option>Selecccionar Editoriales</option>-->
<!--                                <option th:each="editorial : ${editoriales}"-->
<!--                                        th:value="${editorial.id}"-->
<!--                                        th:text="${editorial.nombre}"-->
<!--                                        th:selected="${editorial.nombre == selected_editorial}"-->
<!--                                ></option>-->
<!--                            </select>-->

<!--                            <select name="autor" id="autor">-->
<!--                                <option>Selecccionar Autores</option>-->
<!--                                <option th:each="autor : ${autores}"-->
<!--                                        th:value="${autor.id}"-->
<!--                                        th:text="${autor.nombre}"-->
<!--                                        th:selected="${autor.nombre == selected_autor}"-->
<!--                                ></option>-->
<!--                            </select>-->

<!--                        </div>-->

                        <button type="submit" class="btn btn-primary" th:text="${boton}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>