<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es" xml:lang="es">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="${formulario}"></title>
</head>
<body>

<section>
    <div class="container" style="padding-top: 100px">
        <div class="row align-items-center">
            <h2 class="display-4" th:text="${tituloFormulario}"></h2>

            <div class="col-lg-6 order-lg-1">
                <div class="p-5">

                    <div class="row align-items-center">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">ID Autor</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">ACCIONES</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="objetoAiterar : ${objetoAiterar}">
                                <div th:if="${objetoAiterar.alta == true}" >
                                    <td scope="row" th:text="${objetoAiterar.id}">
                                    </th>
                                    <td class="mayus" scope="row" th:text="${objetoAiterar.nombre}">
                                    </th>


                                    <td>
                                        <a th:href="@{/autor/pre_update/(id=${objetoAiterar.id})}" class="btn btn-danger">Editar</a>
                                        <a th:href="@{/autor/baja/(id=${objetoAiterar.id})}" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </div>

                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <form th:action="${action}" method="GET" enctype="multipart/form-data">


                        <div th:if="${editorial != null}">
                            <label th:text="${lable1}"></label>
                            <input type="text" class="form-control" name="nombre" th:value="${nombre}"/>

                        </div>

                        <div th:if="${alta_libro != null}">
                            <label>Título</label>
                            <input type="text" class="form-control" name="titulo" th:value="${titulo}"/>

                            <label>ISBN</label>
                            <input type="text" class="form-control" name="isbn" th:value="${isbn}"/>


                            <label>Año de Publicación</label>
                            <input type="date" class="form-control" name="anio" th:value="${anio}"/>

                            <label>Ejemplares</label>
                            <input type="number" class="form-control" name="ejemplares" th:value="${ejemplares}"/>

                            <select name="editorial">
                                <option>Selecccionar Editoriales</option>
                                <option th:each = "editorial : ${editoriales}"
                                        th:value = "${editorial.id}"
                                        th:text = "${editorial.nombre}"
                                ></option>


                            </select>

                            <select name="autor">
                                <option>Selecccionar Autores</option>
                                <option th:each = "autor : ${autores}"
                                        th:value = "${autor.id}"
                                        th:text = "${autor.nombre}"
                                ></option>
                            </select>

                        </div>

                        <br/>
                        <button type="submit" class="btn btn-primary" th:text="${boton}"></button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>